services:
  app:
    container_name: urlshortener_app
    hostname: app
    labels:
      logging: promtail
      logging_job: app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./example.env:/app/.env
      - ./migrations:/app/migrations
    ports:
      - "8080:8080"
    depends_on:
      pg:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - shortener_bridge
  pg:
    container_name: urlshortener_pg
    hostname: pg
    image: postgres:18-alpine3.22
    environment:
      POSTGRES_DB: ${DB_HOST}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - shortener_bridge
  redis:
    container_name: urlshortener_redis
    hostname: redis
    image: redis:8.4-alpine3.22
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - shortener_bridge
  jaeger:
    container_name: urlshortener_jaeger
    hostname: jaeger
    image: jaegertracing/jaeger:2.13.0
    ports:
      - "16686:16686" # UI
      - "4318:4318"   # HTTP OTLP Collector
    environment:
      COLLECTOR_OLTP_ENABLED: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:16687/"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - shortener_bridge
  prom:
    container_name: urlshortener_prom
    hostname: prom
    image: prom/prometheus:v3.8.1
    ports:
      - "9090:9090"
    volumes:
      - prom_data:/prom_data
      - ./configs/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--storage.tsdb.retention.time=200h"
      - "--web.enable-lifecycle"
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:9090/status",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - shortener_bridge
  loki:
    container_name: urlshortener_loki
    hostname: loki
    image: grafana/loki:3.4.1
    ports:
      - "3100:3100"
    volumes:
      - ./configs/loki.yml:/etc/loki/local-config.yaml
      - loki_data:/loki
    command: -config.file=/etc/loki/local-config.yaml
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3100/ready"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - shortener_bridge
  promtail:
    container_name: urlshortener_promtail
    hostname: promtail
    image: grafana/promtail:3.4.1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./configs/promtail.yml:/etc/promtail/config.yaml:ro
    command: -config.file=/etc/promtail/config.yaml
    depends_on:
      - loki
    networks:
      - shortener_bridge
  grafana:
    container_name: urlshortener_grafana
    hostname: grafana
    image: grafana/grafana:12.3
    volumes:
      - ./configs/grafana/provisioning:/etc/grafana/provisioning
      - ./configs/grafana/dashboards:/var/lib/grafana/dashboards
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    networks:
      - shortener_bridge
    depends_on:
      - prom
      - loki
      - jaeger
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  pg_data:
  redis_data:
  grafana_data:
  loki_data:
  prom_data:

networks:
  shortener_bridge:
