global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
          - 'prom:9090'
  - job_name: 'urlshortener-app'
    static_configs:
      - targets:
          - 'app:8080'